/*
* 1. Палитра основных цветов
*/

$blue: #0207ff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;
$gray: #797d76;
$gray-dark: #343a40;
$gray-100: #ececec;
$gray-200: #a6aab0;
$gray-600: #737373;

/*
* 1. Базовая настройка шаблона
*/

$accent: #00ABFF;
$hover1: #078EF7;
$accent2: #FF5400;
$hover2: #FF3E00;
$text: #333333;
$mm_backgroundColor: #fff !default;
$mm_textColor: #000 !default;
$mm_navbarColor: #000 !default;
$mm_navbarColor: #000 !default;
$mm_listitemSize: 76px !default;