$pfx: "bread";

.#{$pfx} {
  background: #0083C3;
  color: $white;
  padding: 10px 0;
  font-size: 14px;
  &__wrap {
    display: flex;
    span {
      margin-right: 5px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
    &_title {
      color: #dcdcdc;
    }
  }
}