$pfx: "news-page";

.#{$pfx} {
  &__head {
    background-size: cover;
    background-position: 50%;
    min-height: 400px;
    @include row-flex();
    justify-content: center;
    align-items: center;
    margin: 0;
    &_body {
      @include col();
      @include size(10);
      text-align: center;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(8px);
      border-radius: 4px;
      padding: 25px 50px;
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &-data {
        display: inline-block;
        margin-bottom: 20px;
        border-bottom: 2px solid $accent2;
        padding: 0px 10px 5px 10px;
        margin-bottom: 40px;
      }
    }
  }
}

.news-text {
  width: 900px;
  max-width: 100%;
  margin: 30px auto;
  h2 {
    text-align: center;
    font-size: 22px;
  }
  p {
    font-size: 18px;
    line-height: 1.4;
  }
}